body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  width: 100vw;
  height: 100vw;
  margin: 0 auto;
  background-color: #d40ea9;
  color: #fff;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr)
}

.game>div {
  border: 6px solid #0c0c0c;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 5px solid #0a0a0a;
  background-color: #e772a3;
  color: white;
  margin-top: 10px;
  padding: 10px 20px
}

.game > div.winner {
  background: rgb(235, 235, 235);
}

.game > div.winner > span {
  color: rgb(219, 12, 12);
}

@media (min-width: 600px) {
  .game {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    border: 6px solid #ad2121;
  }

  .game>div {
    border-radius: 2px;
  }
}

@media (min-width: 1024px) {
  .btn {
    cursor: pointer
  }
}